
a.externallink:after {
	content:url("../img/external.png");
}

pre {
	background-color: #fbfbfd;
	border: 1px dashed #7e7ecb;
	color: black;
	font-size: 110%;
	line-height: 1.1em;
	padding: 1em;
}

ul {
	line-height: 1.5em;
	list-style-type: square;
	list-style-image: url(../img/bullet.gif);
	margin: .3em 0 0 1.5em;
	padding: 0;
}

li {
	margin-bottom: .1em;
}

img { 
  border:0 none; 
}

table { 
  border-collapse:collapse; }

td { 
  border: 1px solid #eee; 
  padding:0 10px; 
}

th { 
  padding:0 10px; 
}

/* tab menu */

#nav {
    border-bottom-color: #FFFFFF;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-top-color: #FFFFFF;
    border-top-style: solid;
    border-top-width: 1px;
    left: 5px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    position: absolute;
    top: 78px;
}

ul.tab-menu {
	display: inline-block;
	list-style: inherit;
	list-style-type: none;
}
ul.tab-menu li {
	float: left;
	background-color: #fff;
	color: blue;
	border: 1px solid #D8D8E7;
	*border-bottom: none;
	min-width: 40px;
	text-align: center;
}
ul.tab-menu li.active {
	margin-bottom: -1px !important;
	border-bottom: 1px solid #fff;
	font-weight: bold;
}
ul.tab-menu li.active a:hover {
	border-bottom: none;
}
ul#tab_menu {
	padding: 0;
	margin: 0;
	margin-left: 6px;
}
ul#tab_menu li {
	padding: 0 0.5em;
	margin: 0;
	margin-right: 4px;
	font-size: 85%;
}
ul#tab_menu li.active {
	font-size: 90%;
}

/* shopping cart */

.shopping-cart {
  font-size: 2em;
  color: #337ab7;
  position: absolute;
  right: 15px;
}